html,
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f7f9;
}

.md {
    width: 768px;
}

.bg-yellow {
    background: #f7ca18;
}

.default-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.text-inherit {
    color: inherit;
}

.blog-header {
    width: 100%;
    height: 484px;
    background-size: cover;
    background-position: 100px;
}

.blog-header {
    font-family: 'Pacifico', sans-serif;
    margin-bottom: 80px;
}

.blog-avatar {
    margin-top: -150px;
    top: 60px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.transition {
    transition: all .3s;
}

.card:hover {
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
    transform: translateY(-2px);
}
